*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/bin/
/build/
/dist/
.env
.vscode/
.idea/
*.swp
*.swo
.DS_Store
.DS_Store?
._*
node_modules/
jspm_packages/
*.tsbuildinfo
.npm
.eslintcache
.expo/
.expo-shared/
ios/Pods/
ios/Pods/
ios/Podfile.lock
android/app/build/
android/build/
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/app/release/
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/*.xcuserdata
ios/DerivedData/
*.tmp
*.temp